[package]
name = "wasm"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
wasm-bindgen = "0.2.105"
serde-wasm-bindgen = "0.6"
simple_find_core = { path = "../core" }
